<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body d-flex align-items-center justify-content-between">
            <div>
              <h2 class="card-title">Products</h2>
              <p class="card-text">
                Total products: <%= @product_count %>
              </p>
            </div>
            <%= link_to 'View Products', admin_products_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h2 class="card-title">Categories</h2>
            <p class="card-text">
              Total categories: <%= @category_count %>
            </p>
          </div>
          <%= link_to 'View Categories', admin_categories_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    
    </div>
  </div>
</section>

